.container {
  flex-grow: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 20px;
  height: max-content;
  max-width: 500px;
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 3px #000;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > input {
  display: block;
  padding: 10px 16px;
  margin: 10px auto;
  width: 90%;
  font-family: "Poppins", sans-serif;
}

form > button {
  padding: 10px 16px;
  display: block;
  width: 80%;
  margin: 10px auto;
}

.link {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}
